# Compiled binary files
**/bin/**
**/obj/**

*.db-*

# Debug log
/objektdebug.log

# Application settings
/appsettings*.json

# User secrets
/appsettings*.secrets.json

# Local development database
/app/*.db

# Visual Studio settings
/.vs/

# .NET SDK ObjectCache
/objekt.cache

# Client-side libraries
/wwwroot/lib/

# Node.js dependencies
**/node_modules/
